<a href="https://colab.research.google.com/github/ferdousur/skillmorph/blob/main/1st_class_assignmient.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**2nd Class Assignment**

2.1. Try it yourself: Create variables for your name, age, and favorite color, then print them with descriptive labels.

In [28]:
my_name= "Ferdousur Rahman."
my_age=26
my_fav_clr="Black."

print("My name is",my_name,"I'am ", my_age, "years old.", "My favorite color is ",my_fav_clr)

My name is Ferdousur Rahman. I'am  26 years old. My favorite color is  Black.

2.2. Try it yourself: Create one variable of each type and use the type() function to verify its type.

In [ ]:
my_name= "Ferdousur Rahman."
my_age=26
my_age_full=26.3
my_fav_clr="Black."
is_male= True

print(type(my_age))
print(type(my_age_full))
print(type(my_fav_clr))
print(type(is_male))
# different way
print(type(my_age), type(my_age_full), type(my_fav_clr), type(is_male))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

2.3. Try it yourself: Calculate the area and perimeter of a
rectangle with length 7 and width 5.

In [ ]:
rectangle_length=7
rectangle_width=5
area=rectangle_length*rectangle_width
perimeter=2*(rectangle_length+rectangle_width)
print("Rectangle Area:",area)
print("Rectangle Area:",perimeter)

Rectangle Area: 35
Rectangle Area: 24


2.4. Try it yourself: Create a list of 5 Bangladeshi foods, then access the first and last elements.

In [ ]:
foods_bd=['rice', 'fish', 'potato', 'egg', 'milk' ]
print("First Element:",foods_bd[0])
print("Last Element:",foods_bd[4])

print(foods_bd[::-1])
print(foods_bd[0:3])
foods_bd[0]="Bread"
print(foods_bd)

foods_bd.append("mango")
foods_bd.insert(0, "banana")
print(foods_bd)

foods_bd.remove("banana")
foods_bd.pop(5)

foods_bd.sort()
print(foods_bd)
foods_bd.reverse()
print(foods_bd)

First Element: rice
Last Element: milk
['milk', 'egg', 'potato', 'fish', 'rice']
['rice', 'fish', 'potato']
['Bread', 'fish', 'potato', 'egg', 'milk']
['banana', 'Bread', 'fish', 'potato', 'egg', 'milk', 'mango']
['Bread', 'egg', 'fish', 'milk', 'potato']
['potato', 'milk', 'fish', 'egg', 'Bread']


2.5 Try it yourself: Create a list of 5 numbers, add a new number, remove one, and then sort the list.

In [ ]:
sort_five_number=[5,3,1,2,4]
sort_five_number.insert(0,11)
sort_five_number.pop()
sort_five_number.sort()
print(sort_five_number)

[1, 2, 3, 5, 11]

2.6 Try it yourself: Create a dictionary about yourself with at least 4 key-value pairs.

In [ ]:
my_bio={
    "Name":"Ferdous",
    "Fathar's_Name":"Mizan",
    "Mother's_Name":"Rasheda",
    "Phone":"+8801789777578",
    "is_male": "Yes",
    "Email":"ferdousur.info@gmail.com",
    "is_student":"No",
    "study_on":["Saic", "Uttara", "Adust", "Skillmorph"],
    "job_on":["Unique","BTI", "AML" ]
}

print(my_bio["study_on"][3])

if my_bio["is_male"] == "Yes":
    print(my_bio["job_on"][2])

Skillmorph
AML

2.7 Try it yourself: Create a tuple with the latitude and longitude of a famous place in Bangladesh.

In [ ]:
dhaka=(23.8,90.4)
sundarbans=(21.947, 92.00)
cox_bazar=(21.42, 92.00)
# sylhet=(24.89, 91.86)
# chittagong=(22.63, 92.21)
# rangamati=(22.63, 92.1)
# srimangal=(24.0, 91.72)
# paharpur=(25.01, 88.96)


print("latitude","Dhaka:", dhaka[0])
print("longitude","Dhaka", dhaka[1])

print("latitude","Sundarbans:", sundarbans[0])
print("longitude","Sundarbans", sundarbans[1])

print("latitude","Cox Bazar:", cox_bazar[0])
print("longitude","Cox Bazar", cox_bazar[1])

latitude Dhaka: 23.8
longitude Dhaka 90.4
latitude Sundarbans: 21.947
longitude Sundarbans 92.0
latitude Cox Bazar: 21.42
longitude Cox Bazar 92.0

2.8 Try it yourself: Create two sets of colors and find their union and intersection.

In [ ]:
my_fav_clr={"Royal Blue", "Emerald Green", "Crimson Red", "Golden Yellow", "Midnight Black", "Red", "Coral Pink"}
my_not_fav_clr={"Turquoise", "Lavender", "Coral Pink","Crimson Red", "Golden Yellow", "Teal", "Indigo", "Black"}



union_clr= my_fav_clr | my_not_fav_clr
inter_clr=my_fav_clr & my_not_fav_clr

print("All Without Duplicate:", union_clr)

print("Only Common:",inter_clr)

All Without Duplicate: {'Emerald Green', 'Turquoise', 'Midnight Black', 'Black', 'Golden Yellow', 'Lavender', 'Indigo', 'Red', 'Teal', 'Crimson Red', 'Royal Blue', 'Coral Pink'}
Only Common: {'Golden Yellow', 'Crimson Red', 'Coral Pink'}

2.9 Try it yourself: Write a program that checks if a number is positive, negative, or zero.

In [ ]:
the_number=int(input("Enter The Number:"))

if the_number>0:
    print("This is positive Number")
elif the_number<0:
     print("The Number is Negative")
elif the_number==0:
    print("The Number is Zero")

Enter The Number:10
This is positive Number

2.10 Try it yourself: Write a program that checks eligibility for a discount (student AND under 25, OR senior over 60).

In [ ]:
age=int(input())
if  age<25 or age > 60:
    print("You are eligible for discount")
else:
    print("You are not eligible for discount")

61
You are eligible for discount

2.11 Try it yourself: Write a program that prints the first 10 even numbers using a for or while loop.

In [21]:
for i in range(1,21,1):
  if i % 2 == 0:
    print(i)

2
4
6
8
10
12
14
16
18
20

2.12 Try it yourself: Write a program that prints a simple number pyramid pattern using nested loops.

In [17]:
n=20
for i in range(0, n, 1):
  for j in range(n-i-1,0,-1):
    print(" ", end="")
  for k in range(1,i+1,1):
    print("* ", end="")
  print()

                  *
                 * *
                * * *
               * * * *
              * * * * *
             * * * * * *
            * * * * * * *
           * * * * * * * *
          * * * * * * * * *
         * * * * * * * * * *
        * * * * * * * * * * *
       * * * * * * * * * * * *
      * * * * * * * * * * * * *
     * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * *
   * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * *

2.13 Try it yourself: Create a function that converts temperature from Celsius to Fahrenheit using the formula: F = (C Ã— 9/5) + 32

In [22]:
def temp_covert_celsius_to_Fahrenheit():
    celcius=int(input("Enter Cencius:"))
    convert_to_F=(celcius*9/5)+32
    print("Fahrenheit:",convert_to_F)
temp_covert_celsius_to_Fahrenheit()

Enter Cencius:60
Fahrenheit: 140.0

2.14 Try it yourself: Create a function with default parameters that calculates the area of a rectangle.

In [27]:
def calculate_area():
  l=int(input("Enter the width of rectangle:"))
  w=int(input("Enter the length of rectangle"))
  area=l*w
  print("Area of rectangle is:", area)


calculate_area()

Enter the width of rectangle:10
Enter the length of rectangle15
Area of rectangle is: 150