<a href="https://colab.research.google.com/github/ferdousur/skillmorph/blob/main/Assignment_3_NumPy_and_Pandas_for_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""
Student Performance Dataset Analysis
Dataset Information
Student Performance Dataset (StudentsPerformance.csv)
1000 students with academic performance data
8 columns: gender, race/ethnicity, parental level of education, lunch, test preparation course, math score, reading score, writing score
Score Range: 0-100 for each subject
Demographics: Male/Female, 5 ethnic groups, 6 education levels, standard/free lunch, test prep completed/none
"""

'\nStudent Performance Dataset Analysis\nDataset Information\nStudent Performance Dataset (StudentsPerformance.csv)\n1000 students with academic performance data\n8 columns: gender, race/ethnicity, parental level of education, lunch, test preparation course, math score, reading score, writing score\nScore Range: 0-100 for each subject\nDemographics: Male/Female, 5 ethnic groups, 6 education levels, standard/free lunch, test prep completed/none\n'

In [ ]:
#Task 1.1: Data Loading and Exploration
import numpy as np
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

# Load the dataset
df = pd.read_csv("/content/drive/My Drive/datasets/StudentsPerformance.csv")

# Your tasks:
# 1. Display first 10 rows
# 2. Show dataset shape and info()
# 3. Display unique values in each categorical column
# 4. Show basic statistics for all score columns

# Your code here:

print(df.head(10))
print(df.info())
print(df.shape)
for col in df.select_dtypes(include=['object', 'category']).columns:
  print(f"Unique Val:", df[col].unique())
average_match_score=df['math score'].mean()
maximum_score=df['math score'].max()
minimum_score=df['math score'].min()
standard_deviation=df['writing score'].std()
print(average_match_score)
print(maximum_score)
print(minimum_score)
print(standard_deviation)

Mounted at /content/drive
   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard
5  female        group B          associate's degree      standard
6  female        group B                some college      standard
7    male        group B                some college  free/reduced
8    male        group D                 high school  free/reduced
9  female        group B                 high school  free/reduced

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75
5                    none          71             83             78
6               completed          88             95             92
7                    none          40             43             39
8               completed          64             64             67
9                    none          38             60             50
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
None
(1000, 8)
Unique Val: ['female' 'male']
Unique Val: ['group B' 'group C' 'group A' 'group D' 'group E']
Unique Val: ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
Unique Val: ['standard' 'free/reduced']
Unique Val: ['none' 'completed']
66.089
100
0
15.195657010869642

In [ ]:
#Task 1.2: NumPy Array Operations
# Convert score columns to numpy arrays
math_scores = df['math score'].values
reading_scores = df['reading score'].values
writing_scores = df['writing score'].values

# Your tasks:
# 1. Calculate mean, median, std, min, max for each subject using NumPy
# 2. Find total students who scored above 80 in math
# 3. Find total students who scored below 50 in any subject
# 4. Calculate the overall average score across all three subjects

# Expected output example:
# Math - Mean: 66.1, Median: 66.0, Std: 15.2
# Students with math > 80: 132
# Students with any score < 50: 178

# Your code here:
print("Average Math Score:", np.mean(math_scores))
print("Median Math Score ", np.median(math_scores))
print("Standard Daviation:", np.std(math_scores))
print("Minimum Math Score:",np.min(math_scores))
print("Maximum Math Score:", np.max(math_scores))
above_student80= df['math score'] >=80
print("Count of Total Student who scored above 80:",above_student80.sum())
below_50=(df['math score'] < 50) & (df['reading score'] < 50) & (df['writing score'] < 50)
print("Count of Total Student who scored above 80:",below_50.sum())
overall_average=df[['math score','reading score','writing score']].mean()
print(overall_average.mean())

67.77066666666666

In [ ]:
# Task 2.1: Identify and Handle Missing Data
# Check the dataset for any missing values
# Your tasks:
# 1. Check for null values in each column using .isnull().sum()
# 2. Check for any impossible values (scores > 100 or < 0)
# 3. Display summary of data quality
# Note: This dataset is clean, but let's verify!

# Your code here:
check_null=df.isnull().sum()
print(check_null)
impossible_value=(df[['math score', 'reading score','writing score']] < 0 )  |  (df[['math score', 'reading score','writing score']] > 100)
print(impossible_value.sum())
#Note: Extra check:
impossible_value=(df[['math score', 'reading score','writing score']] == 0 )
print(impossible_value.sum())
print(df.describe)
print(df.describe(include=object))

<bound method NDFrame.describe of      gender race/ethnicity parental level of education         lunch  \
0    female        group B           bachelor's degree      standard
1    female        group C                some college      standard
2    female        group B             master's degree      standard
3      male        group A          associate's degree  free/reduced
4      male        group C                some college      standard
..      ...            ...                         ...           ...
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
0                      none          72             72             74
1                 completed          69             90             88
2                      none          90             95             93
3                      none          47             57             44
4                      none          76             78             75
..                      ...         ...            ...            ...
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

[1000 rows x 8 columns]>
        gender race/ethnicity parental level of education     lunch  \
count     1000           1000                        1000      1000
unique       2              5                           6         2
top     female        group C                some college  standard
freq       518            319                         226       645

       test preparation course
count                     1000
unique                       2
top                       none
freq                       642

In [ ]:
#Task 2.2: Create and Fix Missing Value
# Artificially create missing data for practice
import numpy as np

# Your tasks:
# 1. Make a copy of the dataset: df_practice = df.copy()
# 2. Randomly set 50 math scores to np.nan
# 3. Randomly set 30 writing scores to np.nan
# 4. Fill missing math scores with the MEDIAN math score
# 5. Fill missing writing scores with the MEAN writing score
# 6. Verify no missing values remain

# Steps to follow:
# Step 1: Create copy and show original missing values
df_practice = df.copy()
# print("Original missing values:", df_practice.isnull().sum())

# Step 2: Create missing data
np.random.seed(42)  # For reproducible results
missing_math_idx = np.random.choice(df_practice.index, 50, replace=False)
missing_writing_idx = np.random.choice(df_practice.index, 30, replace=False)

# print(df_practice.head())
# Continue the task...
# Your code here:
df_practice.loc[missing_math_idx, 'math score']=np.nan
df_practice.loc[missing_writing_idx,'writing score']=np.nan

df_practice.loc[missing_math_idx, 'math score']=df_practice['math score'].median()
df_practice.loc[missing_writing_idx, 'writing score']=df_practice['writing score'].mean()

print(df_practice.isnull().sum())

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [ ]:
#Task 3.1:Answer Simple Questions About Student Performance
# Your tasks:
# 1. Display first 5 rows using .head()
# 2. Display last 5 rows using .tail()
# 3. Show dataset shape using .shape
# 4. Show column names using .columns
# 5. Show data types using .dtypes
# 6. Show basic info using .info()

# Your code here:

print(df.head())
print(df.tail())
print(df.shape)
print(df.columns)
print(df.dtypes)
print(df.info())

   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75
     gender race/ethnicity parental level of education         lunch  \
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86
(1000, 8)
Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')
gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
None

In [77]:
#Task 3.2: Basic Groupby Analysis
# Comprehensive groupby analysis
# Your tasks:

# 1. Group by 'gender' and calculate:
#    - Average scores in all subjects
#    - Count of students

# 2. Group by 'test preparation course' and show:
#    - Mean scores for each subject
#    - Show which subject benefits most from test prep

# 3. Group by 'parental level of education' and calculate:
#    - Average math score for each education level
#    - Rank education levels by math performance

# 4. Group by 'lunch' type and show:
#    - Average scores for each subject
#    - Count of students in each lunch category

# Your code here:

female_group=df.groupby('gender')
average_allsub=female_group[['math score', 'reading score', 'writing score']].mean()
print(average_allsub)
print(female_group['gender'].count())

testprepargrop=df.groupby('test preparation course')
mean_score=testprepargrop[['math score','reading score','writing score']].mean()
mostbenefits=testprepargrop[['math score','reading score','writing score']]
print(mean_score)
print(mostbenefits.max())


parentallevelgrp=df.groupby('parental level of education')

average_math_score=parentallevelgrp[['math score']].mean()
rank_math_level= parentallevelgrp[['math score']]
print(average_math_score)
print(rank_math_level.max())

grpbylunch=df.groupby('lunch')
average_scoreof_lunch=grpbylunch[['math score','reading score','writing score']].mean()
print(average_scoreof_lunch)
average_scoreof_lunch=grpbylunch[['math score','reading score','writing score']]
print(average_scoreof_lunch.count())

        math score  reading score  writing score
gender
female   63.633205      72.608108      72.467181
male     68.728216      65.473029      63.311203
gender
female    518
male      482
Name: gender, dtype: int64
                         math score  reading score  writing score
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673
                         math score  reading score  writing score
test preparation course
completed                       100            100            100
none                            100            100            100
                             math score
parental level of education
associate's degree            67.882883
bachelor's degree             69.389831
high school                   62.137755
master's degree               69.745763
some college                  67.128319
some high school              63.497207
                             math score
parental level of education
associate's degree                  100
bachelor's degree                   100
high school                          99
master's degree                      95
some college                        100
some high school                     97
              math score  reading score  writing score
lunch
free/reduced   58.921127      64.653521      63.022535
standard       70.034109      71.654264      70.823256
              math score  reading score  writing score
lunch
free/reduced         355            355            355
standard             645            645            645

In [146]:
#Task 3.3: Use your data analysis skills to answer these easy questions:

# 1. Who performs better in math - males or females?
#    - Calculate average math score by gender
#    - Show the difference between male and female average

# 2. Which subject do students perform best in overall?
#    - Calculate the overall average for math, reading, and writing
#    - Rank the subjects from highest to lowest average score

# 3. What's the impact of parental education?
#    - Find the average total score for each parental education level
#    - Identify which education level leads to highest student performance

# Your code here:

group_gender=df.groupby('gender')['math score'].mean()
print(group_gender)
differencebtavmathscore=group_gender.loc['male'].mean()-group_gender.loc['female'].mean()
print(differencebtavmathscore)

overall_average=df[['math score','reading score','writing score']].mean()
print("Overall Average:", overall_average.mean())

groupby_parent=df.groupby('parental level of education')[['math score','reading score','writing score']].mean()
groupby_parent_for_total=df.groupby('parental level of education')
print(groupby_parent)

subject_score=['math score','reading score','writing score']
group_means=groupby_parent_for_total[subject_score].mean()
total_average_score=group_means.mean()
print(group_means)

group_means['total_average']=group_means.sum(axis=1) + len(subject_score)
print(group_means)

group_means['Rank']=group_means['total_average'].rank(ascending=False)


print(group_means)

gender
female    63.633205
male      68.728216
Name: math score, dtype: float64
5.095011134430216
Overall Average: 67.77066666666666
                             math score  reading score  writing score
parental level of education
associate's degree            67.882883      70.927928      69.896396
bachelor's degree             69.389831      73.000000      73.381356
high school                   62.137755      64.704082      62.448980
master's degree               69.745763      75.372881      75.677966
some college                  67.128319      69.460177      68.840708
some high school              63.497207      66.938547      64.888268
                             math score  reading score  writing score
parental level of education
associate's degree            67.882883      70.927928      69.896396
bachelor's degree             69.389831      73.000000      73.381356
high school                   62.137755      64.704082      62.448980
master's degree               69.745763      75.372881      75.677966
some college                  67.128319      69.460177      68.840708
some high school              63.497207      66.938547      64.888268
                             math score  reading score  writing score  \
parental level of education
associate's degree            67.882883      70.927928      69.896396
bachelor's degree             69.389831      73.000000      73.381356
high school                   62.137755      64.704082      62.448980
master's degree               69.745763      75.372881      75.677966
some college                  67.128319      69.460177      68.840708
some high school              63.497207      66.938547      64.888268

                             total_average
parental level of education
associate's degree              211.707207
bachelor's degree               218.771186
high school                     192.290816
master's degree                 223.796610
some college                    208.429204
some high school                198.324022
                             math score  reading score  writing score  \
parental level of education
associate's degree            67.882883      70.927928      69.896396
bachelor's degree             69.389831      73.000000      73.381356
high school                   62.137755      64.704082      62.448980
master's degree               69.745763      75.372881      75.677966
some college                  67.128319      69.460177      68.840708
some high school              63.497207      66.938547      64.888268

                             total_average  Rank
parental level of education
associate's degree              211.707207   3.0
bachelor's degree               218.771186   2.0
high school                     192.290816   6.0
master's degree                 223.796610   1.0
some college                    208.429204   4.0
some high school                198.324022   5.0